.visible-task#visibleTask
    .visible-task__block
        .visible-task__name#nameVisTask name
        .visible-task__button
            span.visible-task__button__btn#btnComplite выполнить
        .visible-task__description#descVisTask description
        .visible-task__close#iconClose
        